.side-nav,
.side-container,
.side-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-nav {
  box-sizing: border-box;
  height: 100vh;
  background: rgb(42, 42, 42);
  padding-top: 50px;
}

.side-container {
  height: 80px;
  width: 100%;
}

.side-link {
  justify-content: center;
  text-decoration: none;
  color: rgb(999, 999, 999);
  height: 100%;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
}

.side-link > img {
  height: 24px;
  margin: 6px 0;
}

@media (max-width: 768px) {
  .side-nav {
    flex-direction: row;
    height: 50px;
    width: 100vw;
    padding: 0;
    position: fixed;
    bottom: calc(100vh-50px);
  }

  .side-container {
    height: 50px;
  }

  .side-link {
    font-size: 10px;
    text-transform: lowercase;
  }

  .side-link > img {
    margin: 0;
  }
}
