.card {
  height: 240px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.card:hover {
  cursor: pointer;
}

.card.selected {
  height: 180px;
  transition: all 500ms;
}

.card-content {
  width: 100%;
  padding: 6px 12px;
  background: rgb(42, 42, 42, 0.5);
}

.card-content > h2,
.card-content > h4 {
  transition: 250ms ease-in-out;
}

.card-content > h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 6px 0;
}

.card-content > h4 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 768px) {
  .card {
    height: 180px;
  }

  .card-content > h2 {
    font-size: 16px;
  }

  .card-content > h4 {
    font-size: 12px;
  }
}
