.navi {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 6px 18px;
  height: 50px;
  width: 100%;
  background: rgb(67, 232, 149, 0.7);
}

.navi > h1 {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  color: rgb(255, 255, 255);
}

.navi > div {
  display: flex;
}

.navi img {
  height: 32px;
  margin-left: 6px;
}

.navi img:hover {
  cursor: pointer;
}

.img-placeholder {
  width: 16.625px;
  height: 32px;
  margin-left: 6px;
}

@media (max-width: 768px) {
  .navi {
    position: fixed;
    background: rgb(67, 232, 149, 1);
    justify-content: center;
    width: 100vw;
  }

  .navi > h1 {
    margin: 0;
    font-weight: 700;
    font-size: 17px;
  }

  .navi div {
    position: absolute;
    left: 12px;
  }

  .navi img {
    height: 20px;
    margin-left: 0px;
  }

  #refresh {
    display: none;
  }

  .img-placeholder {
    display: none;
  }
}
